.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-navBar {
  background: linear-gradient(90deg, rgba(136,32,66,1) 0%, rgba(205,85,85,1) 100%);;
}

.bg-postCard {
  background-color: #CD5555;
}

.padding-createPost {
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  background-color: #DBF1F2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
